body {
    margin: 0 20%;
    padding: 0;
    background-color: rgb(243, 244, 255);
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
}

form#addNewItem {
    text-align: center;
    margin: 0px auto 20px auto;
    width: 100%;
    max-width: 300px;
}

#submitBtn {
    border: none;
    background-color: rgba(1, 209, 1, 0.8);
    height: 100%;
    border-radius: 10%;
    box-shadow: 1px 1px 3px rgb(100, 100, 100);
}

h1 {
    margin: 5% auto 10px auto;
    text-align: center;
}

#display {
    font-family: 'Caveat', cursive;
    font-weight: 600;
}

#displayList {
    padding: 0;
    margin: 0;
}

.todoDiv {
    border: 1px solid black;
    height: 1.5em;
    font-size: 1.2em;
    margin-bottom: 2px;
    background-color: rgba(255, 225, 144, 0.8);
}

.todo {
    padding-left: 20px;
    padding-bottom: 5px;
    text-align: left;
    vertical-align: middle;
    list-style: none;
    display: inline-block;
}

.deleteBtn {
    height: 100%;
    float: right;
    border: none;
    background-color: rgba(252, 1, 1, 0.8);
    box-shadow: -1px 0px 3px rgba(100, 100, 100, 0.5);

}

.fa-trash-alt {
    size: 2x;
    pointer-events: none;
}

.complete {
    color: rgba(102, 102, 102, 0.89);
    background-color: rgba(43, 151, 43, 0.705);
}